In [2]:
import pandas as pd

In [4]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y

In [28]:
helpful_votes = vine_df.loc[(vine_df["total_votes"] >= 20)]
helpful_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y
...,...,...,...,...,...,...
904759,R2EJ952S3YK254,4.0,46.0,47.0,N,N
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N

In [29]:
helpful_percentage = helpful_votes.loc[(helpful_votes["helpful_votes"] / helpful_votes["total_votes"] >= .5)]
helpful_percentage

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y
...,...,...,...,...,...,...
904759,R2EJ952S3YK254,4.0,46.0,47.0,N,N
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N

In [34]:
vine_paid = helpful_percentage.loc[(helpful_percentage["vine"] == 'Y')]
vine_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4229,R1R9RU7JW0MFR2,4.0,20.0,23.0,Y,N
9120,R19EFYNN3W8Q07,5.0,26.0,32.0,Y,N
34704,R34DJ1R8AEU0SG,5.0,29.0,35.0,Y,N
38510,R25P5CXK5L9RHF,5.0,146.0,161.0,Y,N
49330,R2E9VZB3I4LSN5,5.0,55.0,59.0,Y,N

In [37]:
vine_unpaid = helpful_percentage.loc[(helpful_percentage["vine"] == 'N')]
vine_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [47]:
# Paid Total
vine_paid.count()

review_id            60
star_rating          60
helpful_votes        60
total_votes          60
vine                 60
verified_purchase    60
dtype: int64

In [52]:
# Vine Paid Total 5-Star Ratings
vine_paid.loc[(vine_paid["star_rating"] == 5.0)].count()

review_id            34
star_rating          34
helpful_votes        34
total_votes          34
vine                 34
verified_purchase    34
dtype: int64

In [57]:
# Percentage of Paid 5-Star Reviews
vine_paid.loc[(vine_paid["star_rating"] == 5.0)].count()/vine_paid.count()*100

review_id            56.666667
star_rating          56.666667
helpful_votes        56.666667
total_votes          56.666667
vine                 56.666667
verified_purchase    56.666667
dtype: float64

In [53]:
# Unpaid Total
vine_unpaid.count()

review_id            14477
star_rating          14477
helpful_votes        14477
total_votes          14477
vine                 14477
verified_purchase    14477
dtype: int64

In [54]:
# Vine Unpaid Total 5-Star Ratings
vine_unpaid.loc[(vine_unpaid["star_rating"] == 5.0)].count()

review_id            8212
star_rating          8212
helpful_votes        8212
total_votes          8212
vine                 8212
verified_purchase    8212
dtype: int64

In [56]:
# Percentage of Unpaid 5-Star Reviews
vine_unpaid.loc[(vine_unpaid["star_rating"] == 5.0)].count()/vine_unpaid.count()*100

review_id            56.724459
star_rating          56.724459
helpful_votes        56.724459
total_votes          56.724459
vine                 56.724459
verified_purchase    56.724459
dtype: float64